.landing-page  {
    height: calc(100vh - 4rem);
    width: 100vw;
    max-width: 75rem;
    margin: 0;
    overflow: hidden;
    background-color: #D0E2F8;
}

.navbar {
    background: #4d93e5;
    height: 4rem;
    width: 100vw;
    padding: 1rem 2rem;
    display: flex;
    position: sticky;
    top: 0;
    z-index: 3;
    border-style: dashed;
    border-color: #d6515e;
}

.menuItem {
    margin-left: auto;
    color: white;
}

.menuItem a {
    text-decoration: none;
    cursor: pointer;
    color: #195db6;
}

.menuItem a:hover {
    color: white;
    text-decoration: none;
    padding-bottom: 0.5rem;
}

.background {
    position: absolute;
    top: 2rem;
    right: 0;
    z-index: -1;
    object-fit: cover;
    height: 100vh;
}

.login-form, .signup-form  {
    display: flex;
    margin: 1rem 3rem;
    padding: 1rem 2rem;
    height: 100vh;
    width: 100vw;
    max-width: 90vw;
    font-size: 3rem;
    font-weight: 250;
    flex-direction: column;
    font-family: 'Playfair Display', serif;
    color: #195db6;
}

.login-form p, .signup-form p {
    font-size: medium;
    font-weight: 300;
}

.login-form button,
.signup-form button {
    align-self: center;
    background-color: #7baeee;
    border-radius: 4px;
    border: 2px solid;
    box-shadow: #d6515e;
    box-sizing: border-box;
    color: whitesmoke;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    line-height: 23px;
    margin-bottom: 16px;
    margin-top: 20px;
    outline: none;
    padding: 14px;
    text-decoration: none;
    transition: all 235ms ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}
