
* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #056CF2;
    background-image: radial-gradient(#fff 10%, transparent 11%),
    radial-gradient(#fff 10%, transparent 11%);
    background-size: 500px 500px;
    background-position: 0 0, 250px 250px;
    /* background-repeat: repeat; */
}

.container {
    width: 100%;
}

.box {
    width: fit-content;
    position: relative;
    text-align: left;
    z-index: 1;
    opacity: 0;
    left: -500px;
    pointer-events: none;
    transition: 0.3s;
    font-family: 'Dekko', cursive;
}

.active.box {
    opacity: 1;
    left: 0px;
    pointer-events: fill;
    background-color: #29A649;
}

main {
    margin-left: 250px;
}

.menu_icon_box {
    z-index: 2;
    width: fit-content;
    height: auto;
    margin: 0 0 0 30px;
    position: absolute;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.2s;
}

.line1, .line2, .line3 {
    width: 40px;
    height: 4px;
    margin: 10px 8px;
    background-color: #F2F1F0;
    border-radius: 50px;
}

.active .line1 {
    transform: translate(0px, 15px)rotate(45deg);
}

.active .line2 {
    opacity: 0;
}

.active .line3 {
    transform: translate(0px, -15px)rotate(-45deg);
}

nav {
    padding-top: 24px;
}

nav ul {
    margin: 0px 3px;
}

nav ul li {
    list-style: none;
    margin-bottom: 30px;
    transition: 0.3s;
}

nav ul li:hover{
    background-color:#A7D9B3;
    border-radius: 8px;
}

nav ul li a {
    color: #0554F2;
    font-size: 28px;
    padding: 10px 30px;
    display: block;
    text-decoration: none;
}

h2 {
    color: #0554F2;
}

input {
    height: 1.5em;
    margin: 0;
    padding: .25em .5em;
  }


table {
    width: 50%;
    text-align: center;
  }


  /* Make the login and sign-up forms look nicer */
.login-form,
.signup-form {
  background-color: #F2F1F0;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  margin: 24px auto;
  max-width: 400px;
  padding: 2em;
  font-family: 'Dekko', cursive;
  color: #0554F2;
}

/* Make the task and projects forms look nicer */
.task-form,
.project-form {
  background-color:#F2F1F0;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  margin: 24px auto;
  max-width: 600px;
  padding: 2em;
  font-family: 'Dekko', cursive;
  color: #0554F2;
}


/* Make all of the headers the same */
.task-form h1,
.my-tasks-list h1,
.login-form h1,
.signup-form h1,
.project-list h1,
.project-form h1,
.project-detail h1 {
  margin-top: 0;
  color:#0554F2;
  font-family: 'Dekko', cursive;
}

/* Add spacing to the section of the project detail */
.project-detail h2 {
  margin-top: 2em;
}

/* Standardize form layout using grid */
.task-form p,
.login-form p,
.signup-form p,
.project-form p {
  display: grid;
  align-items: center;
  column-gap: 10px;
  grid-template-columns: 100px 1fr;
}

/* Standardize help text positions in the grid */
.task-form p .helptext,
.login-form p .helptext,
.signup-form p .helptext,
.project-form p .helptext {
  grid-column-start: 2;
  grid-column-end: 3;
}

/* Add a nice box around the lists and details */
.my-tasks-list,
.project-list,
.project-detail {
  background-color: #A7D9B3;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  margin: 24px auto;
  max-width: 75%;
  padding: 2em;
  font-family: 'Dekko', cursive;
  min-height: 750px;
}

/* Add padding to the table header and table datum tags */
.my-tasks-list th,
.my-tasks-list td,
.project-list th,
.project-list td,
.project-detail th,
.project-detail td {
  padding: .5em;
}

.task-form a,
.my-tasks-list a,
.login-form a,
.signup-form a,
.project-list a,
.project-form a,
.project-detail a {
    text-decoration: none;
    color: #0554F2;
}

a:hover {
    color: #F2F1F0;
}

/* CSS */
.task-form button,
.login-form button,
.signup-form button,
.project-form button {
    align-self: center;
    background-color: #29A649;
    border-radius: 4px;
    border: 2px solid;
    box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
    box-sizing: border-box;
    color: #0554F2;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    line-height: 23px;
    margin-bottom: 16px;
    margin-top: 20px;
    outline: none;
    padding: 14px;
    text-decoration: none;
    transition: all 235ms ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.task-form button:hover,
.login-form button:hover,
.signup-form button:hover,
.project-form button:hover {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

.task-form button:focus,
.login-form button:focus,
.signup-form button:focus,
.project-form button:focus {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}

p {
    padding: 12px;
}


.search-button {
    color: #29A649;
}

.searchpage {
    background-color: #A7D9B3;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin: 24px auto;
    max-width: 75%;
    padding: 2em;
    font-family: 'Dekko', cursive;
    min-height: 750px;
}


.searchlinks {
    color: #29A649;
    text-decoration: none;
}

.searchpage a:hover {
    color: #29A649;
}

.search {
    position: relative;
    width: 60px;
    height: 60px;
    background: #F2F1F0;
    border-radius: 60px;
    transition: 0.5s;
    box-shadow: 0 0 0 5px #F2F1F0;
}
/* .icon */
.search {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    background:#F2F1F0;
    border-radius: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    cursor: pointer;
}

.search::before {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    border: 3px solid #0554F2;
    border-radius: 50%;
    transform: translate(-4px,-4px);
}

.search::after {
    content: '';
    position: absolute;
    width: 3px;
    height: 12px;
    background: #0554F2;
    transform: translate(6px,6px) rotate(315deg);
}
