{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}{% endblock title %}
    </title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/projects.css' %}">
    <link rel="stylesheet" href="{% static 'css/accounts.css' %}">
    <link rel="stylesheet" href="{% static 'css/projectslist.css' %}">
    <link rel="stylesheet" href="{% static 'css/detail.css' %}">
    <link rel="stylesheet" href="{% static 'css/forms.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap" rel="stylesheet">
</head>
<body class="base">
    <div class='menu-container'>
    {% if user.is_authenticated %}
    <div class="menu_icon_box">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
    </div>
    <h1 class="hello">Hello, {{ user.username }}!</h1>
        <div class="box">
        <header>
            <nav>
                <ul>
                    <li><a href="{% url 'show_my_tasks' %}">My tasks</a></li>
                    <li><a href="{% url 'list_projects' %}">My projects</a></li>
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                </ul>
            </nav>
        </div>
        </header>
    </div>
    <div class="search">
        <div class="icon"></div>
        <div class="input">
            <form id="search-form" method="POST" action="{% url 'search_projects' %}">
                {% csrf_token %}
                <input type="search" placeholder="Search projects" name="searched" id="search-bar">
                <button class="search-button" type="submit">Search</button>
            </form>
        </div>
        <span class="clear" onclick="document.getElementById('search-bar').value = ''"></span>
    </div>

    {% endif %}

    {% block content %}{% endblock content %}

</body>
    <script>
        let menu_icon_box = document.querySelector(".menu_icon_box");
        let box = document.querySelector(".box");

        menu_icon_box.onclick = function() {
            menu_icon_box.classList.toggle("active");
            box.classList.toggle("active");
        }

        document.onclick = function(e){
            if (!menu_icon_box.contains(e.target) && !box.contains(e.target)) {
                menu_icon_box.classList.remove("active");
                box.classList.remove("active");
            }
        }

        document.getElementById('search-bar').addEventListener('click', function (event) {
            event.stopPropagation();
        })

        const icon = document.querySelector('.icon');
        const search = document.querySelector('.search');
        icon.onclick = function() {
            search.classList.toggle("active");
        };

    </script>
</html>
