{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}{% endblock title %}
    </title>
    <link rel="stylesheet" href="{% static 'css/projects.css' %}">
</head>
<body>
    <div class="container">
        <div class="menu_icon_box">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
            <div class="box">
            <header>
                {% if user.is_authenticated %}
                <h2>Hello, {{ user.username }}</h2>
                {% endif %}
            </header>
            <nav>
            {% if user.is_authenticated %}
            <ul>
                <li><a href="{% url 'show_my_tasks' %}">My tasks</a></li>
                <li><a href="{% url 'list_projects' %}">My projects</a></li>
                <li><a href="{% url 'logout' %}">Logout</a></li>
            {% else %}
                <li><a href="{% url 'login' %}">Login</a></li>
                <li><a href="{% url 'signup' %}">Signup</a></li>
            {% endif %}
            </ul>
            </nav>
            </div>
        </div>
    </div>
    <div class="main-content">
    {% block content %}{% endblock content %}
    </div>
    <footer>
        &copy; 2023
    </footer>
</body>

    <script>
        let menu_icon_box = document.querySelector(".menu_icon_box");
        let box = document.querySelector(".box");

        menu_icon_box.onclick = function() {
            menu_icon_box.classList.toggle("active");
            box.classList.toggle("active");
        }

        document.onclick = function(e){
            if (!menu_icon_box.contains(e.target) && !box.contains(e.target)) {
                menu_icon_box.classList.remove("active");
                box.classList.remove("active");
            }
        }
    </script>

</html>
