{% extends 'base.html' %}

{% block title %}
    {{ task.name }}
{% endblock title %}

{% block content %}
<main>
    <div class="task-detail">
        <h1>{{ task.name }}</h1>
        <h4> for {{ task.project }} </h4>
        <h6> Due {{ task.due_date }}</h6>

        <button class='notesBtn'><a href="{% url 'add_notes_to_task' task.id %}">Add Notes</a><button>
        {% if task.notes %}
        <p class='notes'>{{ task.notes }}</p>
        {% else %}
            <p>You have no notes for this task</p>
        {% endif %}
    </div>
</main>
{% endblock content %}
