{% extends 'base.html' %}

{% block title %}
    My Projects
{% endblock title %}

{% block content %}
<main class="projects">
    <div class="projects-list">
        <h1>My Projects</h1>
        <p><a href="{% url 'create_project' %}">Create a new project</a></p>
        {% if projects %}
        <div class="row row-cols-1 row-cols-md-3 g-4">
            {% for project in projects %}
            <div class="col">
                <div class="card h-100 text-white bg-info mb-3">
                <div class="card-body">
                    <h5 class="card-title"><a href="#"><a href="{% url 'show_project' project.id %}">{{ project.name }}</a></h5>
                    <p class="card-text">{{ project.description }}</p>
                </div>
                </div>
            </div>
            {% endfor %}
            </div>
            {% else %}
            <p>You are not assigned to any projects</p>
        {% endif %}
    </div>
    <div class="calendar">
        <iframe src="https://calendar.google.com/calendar/embed?height=600&wkst=1&bgcolor=%23ffffff&ctz=America%2FChicago&src=NzBhOGNiYWQ3NDZkMDAxMzI1MDI4NDcyYWU3ZGY3YTNmZGVmY2NiYWI4NjU4Y2UxZTRkNGJmZDMyODE2NTRhZkBncm91cC5jYWxlbmRhci5nb29nbGUuY29t&color=%237CB342" style="border:solid 1px #777" width="375" height="300" frameborder="0" scrolling="no"></iframe>
    </div>
    <div class="upcoming">
        <h2>Upcoming Tasks</h2>
        {% if upcoming_tasks %}
        <ul>
            {% for task in upcoming_tasks %}
                <li>
                    <strong>{{ task.name }}</strong><br>
                    Due Date: {{ task.due_date }}<br>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No upcoming tasks.</p>
    {% endif %}
    </div>
</main>
{% endblock content %}
